
<!-- Article -->
<article class="welcome-wrap" id="welcomeWrap">
	<header>
		<h2 class="homepage-title">Welcome to New American Funding</h2>
	</header>
	<section>

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non euismod augue. Vivamus sit amet sodales dui. Donec est mauris, molestie vel dignissim vel, ultricies vel turpis. Donec a tellus eu elit lobortis auctor. Fusce varius magna ac lorem finibus, sit amet scelerisque elit ultrices. Nulla magna neque, rhoncus eget vulputate id, pellentesque a odio. Cras id cursus tortor, et cursus risus. Ut nunc enim, lacinia sed turpis vel, molestie egestas mi. Proin vulputate augue non euismod maximus. Nam interdum eros quis orci scelerisque tincidunt. Cras at vehicula felis. Proin imperdiet condimentum molestie.</p>

		<p>Curabitur viverra, nibh feugiat elementum gravida, eros dui cursus nisl, sit amet dapibus ex orci at risus. Ut ut cursus ipsum. Nulla vel tristique nunc. Phasellus a aliquet augue. Nam non efficitur sapien. Proin blandit tempus tortor sit amet tristique. Sed sit amet ipsum at nibh pulvinar rutrum porttitor at risus.</p>

	</section>
</article>